<main class="form-signin w-100 m-auto">
  <form action="/login" method="get">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div class="form-floating">
      <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
      <label for="emailInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="passInput" placeholder="Password">
      <label for="passInput">Password</label>
    </div>
{{!-- 
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> --}}
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2023</p>
  </form>
</main>