{{#if productsa}}
    <div class="container m-auto bg-dark">
        {{#each productsa}}
            <div class=" py-10 mt-2 mx-auto flex items-center bg-info">
                <h2 class=" mx-5">ID: {{id}}</h2>
                <h2 class=" mx-5">Name: {{title}}</h2>
                <h3 class=" mx-5">Price: {{price}}</h3>
                <h4 class=" mx-5">Description: {{description}}</h4>
            </div>
        {{/each}}
    </div>
{{/if}}


