{{#if productsa}}
    <div class="container m-auto bg-dark">
        {{#each productsa}}
            <div class=" py-10 mt-2 mx-auto flex items-center bg-info">
                <h2 class=" mx-5">ID: {{lookup this "id"}}</h2>
                <h2 class=" mx-5">Name: {{lookup this "Title"}}</h2>
                <h3 class=" mx-5">Price: {{lookup this "Price"}}</h3>
                <h4 class=" mx-5">Description: {{lookup this "Description"}}</h4>
            </div>
        {{/each}}
    </div>
{{/if}}


